name: rise_flutter_exercise
description: "A Flutter exercise repository for live-coding sessions."
publish_to: 'none' # This is an exercise repository, not for publishing

version: 0.0.1+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
